.git
.DS_Store
.env
.env.*
aws.env
aws.env.*
**/node_modules
**/.next
**/dist
**/coverage
**/*.log
infra/aws/terraform/.terraform
infra/aws/terraform/terraform.tfstate
infra/aws/terraform/terraform.tfstate.backup
infra/aws/terraform/*.tfplan
